*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "country wedding";
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background-image: url(./bg.webp);
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 200px;
    /* color: rgb(110, 110, 170); */
    /* mix-blend-mode: difference; */

}