*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1611242320536-f12d3541249b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 200px;
    color: rgb(110, 110, 170);
    mix-blend-mode: difference;

}